.service-card-main-container{
    width: 90%;
    height: auto;
    margin: 70px auto ;
}
.service-card-main-container h1{
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width:426px){
    .service-card-main-container{
        width: 100%;
    }
}